image_frame.py
ocr_translator_ui.ui
cosmos.jpg
bee.jpg
cover.png
default.jpg
frenchblurb.jpg
germansentences.jpg
maxresdefault.jpg
sp.jpg
spanish1.jpg
stairsing.jpg
umasssing.jpg
wksht.jpg
words.png
.idea
__pycache__